<div style="height: auto">
  <div class="row center">
    <img src="assets/artists/radiotapok/tapok-icon.png" class="artist-photo center" />
  </div>

  <!-- Name -->
  <div class="row center name-row">
    Radio Tapok
  </div>

  <!--Social network icons-->
  <ion-grid class="row social-icon-row">
    <ion-row>
      <ion-col>
        <img src="assets/artists/radiotapok/tapok-icon.png" class="social-icon center" />
      </ion-col>
      <ion-col>
        <img src="assets/artists/radiotapok/tapok-icon.png" class="social-icon center" />
      </ion-col>
      <ion-col>
        <img src="assets/artists/radiotapok/tapok-icon.png" class="social-icon center" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Reference -->
  <div class="row center name-row">
    <a href="http://radiotapok.ru">Radio Tapok</a>
  </div>

</div>
