<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

			<button ion-button round icon-end clear (click)="getEvent()">
				<u>Get event</u><ion-icon name="refresh"></ion-icon>
			</button>
			<ion-list inset no-lines>
				<ion-item> <b> Time: </b> {{time}} </ion-item>
			</ion-list>

    <button class="ion-button" (click)="changeOrientation()">
        Change orientation
    </button>

  <app-song-text-slider>

  </app-song-text-slider>
</ion-content>
